.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 5px 10px;
    
    .iso-fruits-logo{
        width: 222px;
        height: 88px;
        

        @include mobile{
            max-height:100%;
            max-width: 151px;
            height: 60px;
            width:calc(100% - 30px);
        }
       
    }
    @include mobile{
        padding: 5px 10px;
        
    }
    .navigation-links{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 37px;
        nav{
            margin-top: 16px;
            ul{
                list-style: none;
                display: flex;
                align-items: center;
                gap: 40px;
                li {
                    padding: 5px 0px;
                    line-height: 32.59px;
                    font-size: 18px;
                    font-weight: 500;
                    font-family: Roboto;
                    color: #001B78;
                    border: 1px solid transparent;
                    border-bottom-width: 0px;
                   
                    position: relative;
                  
                    &:hover::after {
                      width: 100%;
                    }
                  
                    &::after {
                      content: '';
                      position: absolute;
                      width: 0;
                      height: 1px;
                      bottom: 0;
                      left: 0;
                      background-color: #333333;
                      transition: width 0.2s ease-in;
                    }
                  
                    a {
                      cursor: pointer;
                      text-decoration: none;
                      list-style: none;
                      color: inherit;
                    }
                  }
            }
        }
    }
    .icons{
        // cursor: pointer;
        .nav-head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: calc(60% - 2rem);
            .fruits-logo{
                position: fixed;
                z-index: 999;
                display: none;
                @include mobile{
                    display: block;
                    left: 10px;
                }
            }
            .close{
                z-index: 999;
                font-size: 36px;
                position: fixed;
                color: #393939;
                top: 1rem;
                right: 2rem;
                border: 0;
                font-weight: 700;
                cursor: pointer;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 600ms;
            }
        }
        .hamburger{
            width: 30px;
            height: 20px;
        }
    }
    .navigation{
        height: 100vh;
        width: 60%;
        position: fixed;
        top: 0;
        background-color: #FFFFFF;
        padding: 2rem;
        z-index: 100;
        text-align: center;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 500ms;
        @include mobile{
            width: 100%;
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: 100%;
            margin-top: 7rem;
            padding: 0.5rem auto;
            padding-left: 0;
            gap: 2rem;
            li{
                cursor: pointer;
                line-height: 29.47px;
                font-size: 16px;
                font-weight: 500;
                font-family: Roboto;
                color: #001B78;
                button {
                    appearance: none;
                    border: none;
                    outline: none;
                    background: transparent;
                    cursor: pointer;
                    text-decoration: none;
                    list-style: none;
                    color: inherit;
                }
            }
        }
    }
}

.Header{
    @media screen and (max-width: 990px){
        .navigation-links{
            display: none;
        }
    }
}