.isolated-banana{
    background: #fff;
    padding-top: 0;
    position: relative;
    
    
    .container{

        .golden-banana-img{
            max-width: 534px;
            width: 100% ;
            height: auto;    
        }

        @include flex(center, center, column);
        gap: 4rem;
        
        max-width: 1080px;
        margin: 0 auto;
        position: relative;

        .heading{
            width: fit-content;
            font-family: Roboto;
            font-size: 42px;
            font-weight: 800;
            line-height: 60px;
            text-align: center;

            padding: 0.5rem 5rem;
            border-radius: 5rem;
            background: #E9BF38;
            color: #fff;
            text-transform: uppercase;

            box-shadow: 0px 4px 4px 0px #00000040;
        }

        .description{
            max-width: 996px;
            font-family: Roboto;
            font-size: 32px;
            font-weight: 400;
            line-height: 48px;
            text-align: center;
            
            padding: 0 2rem;
            text-transform: capitalize;

            color: #001B78;
        }

        .img-container{
            
            width: 100%;
            @include flex(center, center);
            
            .banana-img{
                max-width: 95%;
                height: auto;
            }
            
            position: relative;
            .triangle1-img{
                position: absolute;
                right: 0;
                top: 10%;
                @include tablet{
                    display: none;
                }
            }
        }

          
        .triangle2-img{
            transform: translateY(-30%) rotate(36deg) scale(0.95);

            position: absolute;
            top: 30%;
            left: 0;



            @include tablet{
                display: none;
            }
        }
    }
}