

.newsletter-cta{

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    width: 100%;
    background-color: white;

    max-width: 1080px;
    margin: 2rem auto;

    @include flex(start,center, column);
    gap: 2rem;
    @include tablet{
        gap: 1.5rem;
    }
    @include mobile{
        gap: 1rem;
    }

    h3{
        font-family: Nunito;
        font-size: 36px;
        font-weight: 800;
        line-height: 39.78px;
        color: #001B78;
        text-align: center;
        @include tablet{
            font-size: 21px;
            line-height: 23.21px;
        }
        span{
            color : #F79428;
        }
    }

    div{
        @include flex();

        width: 60%;

        @include tablet{
            width: 90%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            gap: 1rem;
        }

        

        input{
            width: 100%;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            padding: 1rem;

            appearance: none;
            outline: none;

            border: 1px solid #001B78;

            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 0.20000000298023224px;
            text-align: left;

            &::placeholder{
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0.20000000298023224px;
                text-align: left;
                color: #737373;

                @include tablet{
                    font-size: 14px;
                }
            }

            @include tablet{
                width: 100%;
                padding: 0.25rem 0.75rem;

                font-size: 14px;
            }

        }
        button{
            width: fit-content;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;

            padding: 1rem;

            appearance: none;
            outline: none;

            background: #F8BE21;
            border: 1px solid #F8BE21;
            color: #1C4670;

            font-family: Montserrat;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0.20000000298023224px;
            text-align: center;

            @include tablet{
                width: 100%;
                border-radius: 5px;
                padding: 0.25rem 1.75rem;
            }

        }
    }
}