.iso-fruites-partner-with-us-today{
    max-width: 980px;
    margin: 105px auto 151px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablet{
        height: 300px;
    }
    @include mobile{
        height: auto;
        margin: 20px auto;
    }
    p{
        font-family: Roboto;
        font-weight: 400;
        font-size: 31px;
        line-height: 38px;
        text-align: center;
        color: #001B78;
        text-transform: capitalize;
        @include tablet{
            font-size: 20px;
            line-height: 28px;
            text-align: center;
        }
        @include mobile{
            font-size: 16px;
        }
    }
}