.main-conatiner-iso-fruits{
    position: relative;
}

.whatsapp-btn{
    appearance: none;
    outline: none;
    border: none;
    background:transparent;
    padding: 0.5rem;
    
    width: 100%;
    @include flex(flex-end,center,row);
    position: sticky;
    bottom: 0;

    @include tablet{
        position: fixed;
        bottom: 40%;
    }
    @include mobile{
        bottom: 50%;
    }
    a{
        width: fit-content;
        @include flex(center,center,row);
        gap: 0.5rem;
        padding: 0.25rem;
        border: 1px solid #25D366;
        border-radius: 3rem;
        text-decoration: none;
        color: white;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.75px;
        text-align: center;
        box-shadow: 0 0 4px #25D366;
        transition: box-shadow 0.5s ease-in-out;

        &:hover{
            box-shadow: 0 0 8px #25D366;
        }

        img{
            height: 20px;
            width: 20px;
            aspect-ratio: 1/1;
        }
        p{
            margin: 0;
        }
        
        .hidden-text {
            overflow: hidden;
            max-width: 0;
            transform: translate(-100%);
            transition: all 2s ease-in-out;
        }
        
        .visible-text {
            overflow: hidden;
            max-width: fit-content;
            transform: translate(0);
            transition: all 2s ease-in-out;
        }
    }
}