# Next.js
.next/
out/
node_modules/
package-lock.json/


# Testing
/.jest/
/coverage/

# Build
/build/

# Dependencies
/.pnp/
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# Miscellaneous
.DS_Store