@mixin flex($justify:center,$align:center,$direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
  
@mixin grid($col: 2, $gap: 0) {
    display: grid;
    grid-template-columns: repeat($col, 1fr);
    gap: $gap;
}
@mixin tablet {
    @media (max-width: 990px ) {
      @content;
    }
}
  
@mixin mobile {
    @media (max-width: 550px) {
      @content;
    }
}
@mixin min-devices {
    @media (max-width: 370px) {
      @content;
    }
}


/* scrollbar */



body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #1c467000;
}

body::-webkit-scrollbar-thumb {
  background: #F8BE21;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #214A73;
}


